Repository The-Dark-Nights/back-end, pull requests merged in 2023-10, with the labels that each got.

#97 [Closes #62] Feat : Category 대분류 column 추가,Test : Category 대분류 column insert, update test
  src/main/java/com/darknights/devigation/domain/category/command/application/dto/CreateCategoryDTO.java
  src/main/java/com/darknights/devigation/domain/category/command/application/dto/UpdateCategoryDTO.java
  src/main/java/com/darknights/devigation/domain/category/command/application/service/UpdateCategoryService.java
  src/main/java/com/darknights/devigation/domain/category/command/domain/aggregate/entity/Category.java
  src/main/java/com/darknights/devigation/domain/category/command/domain/aggregate/entity/enumtype/Classification.java
  src/main/java/com/darknights/devigation/domain/category/command/domain/service/CategoryService.java
  src/test/java/com/darknights/devigation/domain/category/service/CategoryServiceTests.java
Labels: ✨ Feature, 🏗️ Refactoring, ✅ Test

#101 [#92] Post 도메인 controller 작성 및 swagger 적용
  build.gradle
  src/main/java/com/darknights/devigation/domain/post/command/application/controller/PostController.java
  src/main/java/com/darknights/devigation/domain/post/command/application/dto/CreatePostDTO.java
  src/main/java/com/darknights/devigation/domain/post/command/application/dto/ExceptionDTO.java
  src/main/java/com/darknights/devigation/domain/post/command/application/dto/ResponsePostDTO.java
  src/main/java/com/darknights/devigation/domain/post/command/application/dto/UpdatePostDTO.java
  src/main/java/com/darknights/devigation/domain/post/command/application/service/CreatePostService.java
  src/main/java/com/darknights/devigation/domain/post/command/domain/aggregate/entity/Post.java
  src/main/java/com/darknights/devigation/global/advice/AuthControllerAdvice.java
  src/main/java/com/darknights/devigation/global/common/response/api/CustomApiResponse.java
  src/main/java/com/darknights/devigation/global/common/response/error/ErrorResponse.java
  src/main/java/com/darknights/devigation/global/configuration/SecurityConfiguration.java
  src/main/java/com/darknights/devigation/global/configuration/SwaggerConfig.java
  src/main/java/com/darknights/devigation/global/handler/post/PostControllerHandler.java
  src/main/java/com/darknights/devigation/global/security/command/application/controller/AuthController.java
  src/main/java/com/darknights/devigation/global/security/command/application/dto/AuthResponse.java
  src/test/java/com/darknights/devigation/domain/post/command/service/PostCRUDTests.java
  src/test/java/com/darknights/devigation/domain/post/query/service/PostReadTests.java
Labels: 📬 API, ✨ Feature

#103 [Closes #102] Feat : 사용자 정보 조회 API 구현
  build.gradle
  src/main/java/com/darknights/devigation/domain/member/query/application/controller/FindMemberController.java
Labels: 📃 Docs, ✨ Feature
